.qrscanner video {
    width: 100%;
}

.row-element-set {
    display: flex;
    flex-direction: column;
}
.row-element {
    padding: 0.2em 0em;
}

.row-element-set-QRScanner {
    max-width: 30em;
    flex-direction: column;
    margin: 0 auto;
}

.form-field-caption {
    font-weight: bold;
}

.form-field-input {
    width: 100%;
}

.error_message {
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 4px;
    font-family: sans-serif;
}
